/* font merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;

}

/* header section styles start here */

.banner-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/banner-image.png");
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 90px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:600px;
}
.banner-content p, h1{
    color: rgb(255, 255, 255);
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
}
/* header section styles start here */

/* second section styles start */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}

.second-section-content h1{
    font-size: 88px;
    color: rgb(255, 0, 0);
    /* font-family: Inter; */
    margin-bottom: 48px;

}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    /* font-family: Inter; */
    margin-bottom: 16px;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    /* font-family: Inter; */
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.image-container{
    width: 802.9px;
    height: 500px;
}
.image-container img{
    height: 100%;
    width: 100%;
}
/* second section styles end */

/* midnight party section styles start  */
.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/vector-img.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 120px;
}
/* left side */
.leftside-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftside-content h1{
    font-size: 64px;
    font-weight: 900;
    color: rgb(255,255,255);
    margin-bottom: 24px;
    margin-right: 35px;
    letter-spacing: 5px;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin-left: 85px;
    margin-bottom: 48px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: Inter;
}
 #midnight-btn{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-right: 400px;
    font-family: Inter;
}
/* right side */
.rightside-content{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside-content img{
    width: 319.83px;
    height: 464.66px;
    margin-right: 80px;
}
/* midnight party section styles end */

/* new park hotel section styles start */
.park-hotel-container{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-bottom: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.park-hotel-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.park-hotel-content h3{
    font-size: 32px;
    font-weight: 600;
    font-family: Inter;
    margin-bottom: 45px;
    line-height: 56px;
    margin-top: 100px;
}
.park-hotel-content h3 span{
    color: rgb(255, 0, 0);
}
#join-btn{
    padding: 16px 32px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}
/* new park hotel section styles end */

/* comming soon section styles start */
.comming-soon-container{
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.comming-soon-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 463px;
}
.first-content h4{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 104;
    margin-bottom: 16px;
}
.first-content h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.first-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 393px;
    height: 128px;
}
/* second content */
.second-content img{
    border: 10px solid red;
    border-radius: 500px;
    width: 364.84px;
    height: 364.84px;
    padding: 10px;
}

/* third content */
.third-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 70px;
}
.third-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.third-content img{
    width: 140px;
    height: 130px; 
}

/* comming soon section styles end */

/* holiday sale section styles start */
.holiday-section-container{
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    margin-bottom: 120px;
    position: relative;
}
.holiday-text-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    text-align: center;
}
.holiday-text-content h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
.holiday-text-content h2{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 20px;
}
#holiday{
    color: rgb(255, 0, 0);
}
.holiday-text-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 64px;
}
/* solid color */
.solid-color{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
}
.giftbox{
    width: 600px;
    height: 500px;
    position: relative;
    z-index: 1;
}
.discount{
    position: absolute;
    bottom: 40%;
    left: 58%;
    /* position: absolute;
    z-index: 1; */
}
/* holiday sale section styles end */

/* portfolio section styles start */
.portfolio-section-container{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.portfolio-text-content h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.portfolio-text-content h5{
    font-size: 48px;
    font-weight: 900px;
    color: rgb(7, 2, 17);
    margin-bottom: 10px;
}
.portfolio-text-content p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 45px;
}
/* item section */
.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.item{
    width: 424px;
    height: 450px;
}
.item img{
    height: 100%;
    width: 100%;
}
/* portfolio section styles end */

/* newsletter section styles start */

/* input:focus{
    outline: none;
} */

.newsletter-section-container{
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    margin-bottom: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.newsletter-content img{
    margin-top: 80px;
    margin-bottom: 40px;
}
.newsletter-content h2{
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    margin-bottom: 22px;
}
.newsletter-content p{
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 48px;
    line-height: 30px;
}
.search-subscribe{
    display: flex;
    align-items: center;
}
.search-subscribe input{
    padding: 16px;
    padding-right: 350px;
    border: none;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: rgba(7, 2, 17, 0.3);
    font-size: 16px;
    font-weight: 400px;    
}
.search-subscribe button{
    padding: 14px 30px 14px 30px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0 50px 50px 0;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    margin-left: -150px;
}
/* newsletter section styles end */

/* footer section styles start */
.footer-container{
    width: 1600px;
    height: 609px;
    border: 2px solid red;
    background-color: rgb(7, 2, 17);
    margin: 0 auto;
    margin-bottom: 100px;
}
.contact{
    display: flex;
    font-family: Inter;
}
.footer-first-section{
    display: flex;
    color: #ffff;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
}
.hr{
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 20px;
    
}
.social-icons img{
    width: 50px;
    height: 50px;
}
.footer-last-section{
    display: flex;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

/* footer section styles end */












