@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;

}
/* banner section style starts here */

.banner-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 90px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:600px;
}
.banner-content p, h1{
    color: rgb(255, 255, 255);
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
}
/* second container section start */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1{
    font-size: 88px;
    color: rgb(255, 0, 0);
    /* font-family: Inter; */
    margin-bottom: 48px;

}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    /* font-family: Inter; */
    margin-bottom: 16px;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    /* font-family: Inter; */
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.image-container{
    width: 802.9px;
    height: 500px;
}
.image-container img{
    height: 100%;
    width: 100%;
    background: url(happy-new-year-3d-letters-sign-coloful-background-blurred-fireworks-2024-new-year-party);
}
/* second container section end */














