@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;

}
/* header section styles start here */

.banner-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('/images/banner-image.png');
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 90px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:600px;
}
.banner-content p, h1{
    color: rgb(255, 255, 255);
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
}
/* header section styles start here */

/* second section styles start */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1{
    font-size: 88px;
    color: rgb(255, 0, 0);
    /* font-family: Inter; */
    margin-bottom: 48px;

}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    /* font-family: Inter; */
    margin-bottom: 16px;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    /* font-family: Inter; */
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.image-container{
    width: 802.9px;
    height: 500px;
}
.image-container img{
    height: 100%;
    width: 100%;
}
/* second section styles end */

/* midnight party section styles start  */
.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-image: url('/images/vector-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.leftside-content{
    width: 50%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftside-content h1{
    font-size: 64px;
    font-weight: 900;
    color: rgb(255,255,255);
    margin-bottom: 24px;
    /* margin-left: 100px; */
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    margin-left: 80px;
    margin-bottom: 48px;
}
 #midnight-btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    color: rebeccapurple;
}



.rightside-content{
    border: 2px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside-content img{
    height: 349.16px;
    width: 464.65px;
}


/* midnight party section styles end */















